.root {
  position: absolute;
  left: 21.9955%;
  right: 70.9751%;
  top: 46.8565%;
  bottom: 49.9407%;
  align-items: flex-start;
}
.icon {
  position: absolute;
  left: 6px;
  top: 5px;
  width: 18.778px;
  height: 17.691px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
