.voiceFab.voiceFab {
  left: 64.3021%;
  right: 24.2563%;
  top: 50.133%;
  bottom: 44.0539%;
}
.icon {
  width: 100%;
  height: 100%;
}
.microphone.microphone.microphone {
  left: 3.532px;
  top: 0.9801px;
  width: 9.0824px;
  height: 20.5817px;
}
.microphone {
  left: 3.532px;
  top: 0.9801px;
  width: 9.0824px;
  height: 20.5817px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.systemKeyboardsIPhoneXLightAlp.systemKeyboardsIPhoneXLightAlp {
  right: 0;
  top: 72.242%;
  bottom: 0;
}
.homeIndicator2.homeIndicator2.homeIndicator2 {
  top: 88.3161%;
}
.homeIndicator.homeIndicator.homeIndicator {
  bottom: 9.3402px;
}
.dictation.dictation {
  left: 388.08px;
  top: 193.7938px;
  width: 17.64px;
  height: 20.1031px;
}
.dictation {
  left: 388.08px;
  top: 193.7938px;
  width: 17.64px;
  height: 20.1031px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.emoji.emoji {
  left: 29.4px;
  top: 192.9897px;
  width: 31.752px;
  height: 21.7113px;
}
.emoji {
  left: 29.4px;
  top: 192.9897px;
  width: 31.752px;
  height: 21.7113px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.rectangle.rectangle.rectangle {
  right: 0.488px;
  bottom: -0.2268px;
}
.rectangle2.rectangle2.rectangle2 {
  right: 0.032px;
  bottom: -0.2268px;
}
.rectangle3.rectangle3.rectangle3 {
  right: 0.312px;
  bottom: -0.2268px;
}
.rectangle4.rectangle4.rectangle4 {
  right: 0.392px;
  bottom: -0.2268px;
}
.deleteButton.deleteButton {
  left: 399.4402px;
  top: 103.4586px;
  width: 26.6482px;
  height: 13.6654px;
}
.deleteButton {
  left: 399.4402px;
  top: 103.4586px;
  width: 26.6482px;
  height: 13.6654px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.rectangle5.rectangle5.rectangle5 {
  right: 0.392px;
  bottom: -0.2268px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.rectangle6.rectangle6.rectangle6 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle7.rectangle7.rectangle7 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle8.rectangle8.rectangle8 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle9.rectangle9.rectangle9 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle10.rectangle10.rectangle10 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle11.rectangle11.rectangle11 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle12.rectangle12.rectangle12 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle13.rectangle13.rectangle13 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle14.rectangle14.rectangle14 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle15.rectangle15.rectangle15 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle16.rectangle16.rectangle16 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle17.rectangle17.rectangle17 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle18.rectangle18.rectangle18 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle19.rectangle19.rectangle19 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle20.rectangle20.rectangle20 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle21.rectangle21.rectangle21 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle22.rectangle22.rectangle22 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle23.rectangle23.rectangle23 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle24.rectangle24.rectangle24 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle25.rectangle25.rectangle25 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle26.rectangle26.rectangle26 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle27.rectangle27.rectangle27 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle28.rectangle28.rectangle28 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle29.rectangle29.rectangle29 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle30.rectangle30.rectangle30 {
  right: -0.368px;
  bottom: -0.2268px;
}
.rectangle31.rectangle31.rectangle31 {
  right: -0.368px;
  bottom: -0.2268px;
}
.root {
  position: relative;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: #fbe411;
  overflow-y: auto;
  overflow-x: hidden;
}
.maps {
  position: absolute;
  left: 0;
  right: 0;
  top: 5.3381%;
  bottom: 0;
  background-image: linear-gradient(180deg, #ffff 0%, #fff0 100%), /* webpackIgnore: true */ url('assets/maps.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, cover;
}
.battery {
  position: absolute;
  left: 403px;
  top: 14px;
  width: 29.7126px;
  height: 11.3333px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.cellularConnection {
  position: absolute;
  left: 366px;
  top: 14px;
  width: 20.7627px;
  height: 10.6667px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.modalPanel {
  position: absolute;
  left: 0;
  right: 0;
  top: 47.9241%;
  bottom: 22.8944%;
  overflow: visible;
  filter: drop-shadow(0px -5px 10px #0000001a);
}
.icon9 {
  width: 100%;
  height: 100%;
}
.line {
  position: absolute;
  left: 11.4416%;
  right: 17.849%;
  top: 56.7599%;
  bottom: 42.8913%;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.rectangle210 {
  position: absolute;
  left: 6.6362%;
  right: 65.4462%;
  top: 65.4795%;
  bottom: 31.0327%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
.rectangle211 {
  position: absolute;
  left: 41.4188%;
  right: 33.8673%;
  top: 65.4795%;
  bottom: 31.0327%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
.rectangle212 {
  position: absolute;
  left: 74.1419%;
  right: 1.1442%;
  top: 65.4795%;
  bottom: 31.0327%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
.myCurrentLocation {
  color: #242e42;
  font-size: 17px;
  font-family: SF UI Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 13.6156%;
  right: 55.2632%;
  top: 54.0859%;
  bottom: 43.4726%;
  flex-direction: column;
}
.rectangle32 {
  position: absolute;
  left: 38.5584%;
  right: 48.3982%;
  top: 50.2493%;
  bottom: 49.0531%;
  border-radius: 3px;
  background-color: #9b9b9b;
}
.line2 {
  position: absolute;
  left: 6.865%;
  right: 92.4485%;
  top: 55.016%;
  bottom: 38.8222%;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.ic_current {
  position: absolute;
  left: 23.2105px;
  top: 443.2032px;
  width: 21.1922px;
  height: 20.5817px;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.ic_pin {
  position: absolute;
  left: 23.2105px;
  top: 515.7291px;
  width: 18.688px;
  height: 23.6034px;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.tOWHERE {
  color: #c8c7cc;
  font-size: 13px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 13.3787%;
  right: 71.2018%;
  top: 57.414%;
  bottom: 40.688%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fROMWHERE {
  color: #c8c7cc;
  font-size: 13px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 13.3787%;
  right: 66.8934%;
  top: 51.9573%;
  bottom: 46.2633%;
  flex-direction: column;
}
._88NorthStNewYorkUS {
  color: #242e42;
  font-size: 17px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 13.3787%;
  right: 37.1882%;
  top: 59.4306%;
  bottom: 38.0783%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.whiteChurch {
  color: #242e42;
  font-size: 13px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 8.8435%;
  right: 68.254%;
  top: 66.6667%;
  bottom: 31.4353%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.cinemaPark {
  color: #242e42;
  font-size: 13px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.5374%;
  right: 38.7755%;
  top: 66.6667%;
  bottom: 31.4353%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.northStreet {
  color: #242e42;
  font-size: 13px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 78.2313%;
  right: 4.3084%;
  top: 66.6667%;
  bottom: 31.4353%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.ic_Location {
  position: absolute;
  left: 363px;
  top: 330px;
  width: 44px;
  height: 44px;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.oval {
  position: absolute;
  left: 35.8277%;
  right: 29.0249%;
  top: 22.6572%;
  bottom: 58.6002%;
  overflow: visible;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.oval2 {
  position: absolute;
  left: 49.1225%;
  right: 42.167%;
  top: 29.7468%;
  bottom: 65.6083%;
  overflow: visible;
  filter: drop-shadow(0px 2px 4px #0000004d);
}
.icon16 {
  width: 100%;
  height: 100%;
}
.shape {
  position: absolute;
  left: 51.1091%;
  right: 44.3064%;
  top: 31.2136%;
  bottom: 66.6677%;
  overflow: visible;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.avatar {
  position: absolute;
  left: 35.3741%;
  right: 53.288%;
  top: 37.4852%;
  bottom: 56.5836%;
  outline: solid 2px #fff;
  outline-offset: -1px;
  border-radius: 30px;
  background-image: url('assets/avatar.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
.avatar2 {
  position: absolute;
  left: 63.7188%;
  right: 24.9433%;
  top: 35.4686%;
  bottom: 58.6002%;
  outline: solid 2px #fff;
  outline-offset: -1px;
  border-radius: 30px;
  background-image: url('assets/avatar.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
.avatar3 {
  position: absolute;
  left: 66.8934%;
  right: 21.7687%;
  top: 23.8434%;
  bottom: 70.2254%;
  outline: solid 2px #fff;
  outline-offset: -1px;
  border-radius: 30px;
  background-image: url('assets/avatar.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
.avatar4 {
  position: absolute;
  left: 37.8685%;
  right: 50.7937%;
  top: 24.0807%;
  bottom: 69.9881%;
  outline: solid 2px #fff;
  outline-offset: -1px;
  border-radius: 30px;
  background-image: url('assets/avatar.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
.avatar5 {
  position: absolute;
  left: 6.576%;
  right: 82.0862%;
  top: 25.2669%;
  bottom: 68.8019%;
  outline: solid 2px #fff;
  outline-offset: -1px;
  border-radius: 30px;
  background-image: url('assets/avatar.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
.avatar6 {
  position: absolute;
  left: 15.6463%;
  right: 73.0159%;
  top: 14.5907%;
  bottom: 79.4781%;
  outline: solid 2px #fff;
  outline-offset: -1px;
  border-radius: 30px;
  background-image: url('assets/avatar.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
.avatar7 {
  position: absolute;
  left: 10.8844%;
  right: 77.7778%;
  top: 38.4342%;
  bottom: 55.6346%;
  outline: solid 2px #fff;
  outline-offset: -1px;
  border-radius: 30px;
  background-image: url('assets/avatar.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
.avatar8 {
  position: absolute;
  left: 40.3628%;
  right: 48.2993%;
  top: 11.6251%;
  bottom: 82.4437%;
  outline: solid 2px #fff;
  outline-offset: -1px;
  border-radius: 30px;
  background-image: url('assets/avatar.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
