.root {
  position: absolute;
  left: 36.0544%;
  right: 48.9796%;
  top: 30.1305%;
  bottom: 62.2776%;
  align-items: flex-start;
}
.icon {
  position: absolute;
  left: 14.9345%;
  right: 12.0858%;
  top: 12.7287%;
  bottom: 14.3339%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
