.root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 88.3162%;
  align-items: flex-start;
  background-color: #fff;
}
.rectangle24 {
  position: absolute;
  left: calc(50% - -0.5px);
  bottom: 9px;
  width: 134px;
  height: 5px;
  border-radius: 100px;
  background-color: #000;
  transform: translateX(-50%);
}
