.root {
  position: relative;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: #fbe411;
  overflow-y: auto;
  overflow-x: hidden;
}
.battery {
  position: absolute;
  left: 403px;
  top: 14px;
  width: 29.7126px;
  height: 11.3333px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.cellularConnection {
  position: absolute;
  left: 366px;
  top: 14px;
  width: 20.7627px;
  height: 10.6667px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.rectangle {
  position: absolute;
  left: 34.4671%;
  right: 35.1474%;
  top: 95.6109%;
  bottom: 3.796%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.modalPanel {
  position: absolute;
  left: 54.195%;
  right: 14.059%;
  top: 12.2183%;
  bottom: 83.3926%;
  overflow: visible;
  filter: drop-shadow(0px -5px 20px #0000001a);
}
.icon4 {
  width: 100%;
  height: 100%;
}
.modalPanel2 {
  position: absolute;
  left: 4.3084%;
  right: 38.322%;
  top: 12.2183%;
  bottom: 83.3926%;
  overflow: visible;
  filter: drop-shadow(0px -5px 20px #0000001a);
}
.icon5 {
  width: 100%;
  height: 100%;
}
.modalPanel3 {
  position: absolute;
  left: 88.6621%;
  right: 3.1746%;
  top: 12.2183%;
  bottom: 83.3926%;
  overflow: visible;
  filter: drop-shadow(0px -5px 20px #0000001a);
}
.icon6 {
  width: 100%;
  height: 100%;
}
.a {
  color: #000;
  font-size: 17px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 91.3832%;
  right: 5.6689%;
  top: 13.1673%;
  bottom: 84.3416%;
  height: min-content;
  flex-direction: column;
}
.forgotPassword {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 23.356%;
  right: 28.5714%;
  top: 21.3523%;
  bottom: 75.2076%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle3 {
  position: absolute;
  left: 18.3673%;
  right: 19.2744%;
  top: 37.0107%;
  bottom: 56.3464%;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.viaSMS {
  color: #8e8e93;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 36.2812%;
  right: 48.9796%;
  top: 37.841%;
  bottom: 59.9051%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle4 {
  position: absolute;
  left: 18.8209%;
  right: 18.8209%;
  top: 45.433%;
  bottom: 48.0427%;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.rectangle32 {
  position: absolute;
  left: 36.0544%;
  right: 42.6304%;
  top: 54.8043%;
  bottom: 39.8577%;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.continue {
  color: #fbe411;
  font-size: 17px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 38.0952%;
  right: 44.6712%;
  top: 56.2278%;
  bottom: 41.2811%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.bySigningUpYouAgreeToOurPrivac {
  position: absolute;
  left: 16.0998%;
  right: 19.0476%;
  top: 65.1246%;
  bottom: 30.7236%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper {
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
}
.label2 {
  color: #000;
  font-size: 12px;
  font-weight: 800;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
}
.label3 {
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
}
.label4 {
  color: #000;
  font-size: 12px;
  font-weight: 800;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
}
.label5 {
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
}
.rectangle2 {
  position: absolute;
  left: 19.7279%;
  right: 22.2222%;
  top: 72.5979%;
  bottom: 22.0641%;
  border-radius: 6px;
  background-color: #2672cb;
}
.connectWithFaceboo {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  font-family: SF UI Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 32.8798%;
  right: 26.7574%;
  top: 74.14%;
  bottom: 23.3689%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.path {
  position: absolute;
  left: 27.4376%;
  right: 69.8413%;
  top: 74.0214%;
  bottom: 23.1317%;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.alreadyHaveAnAccountLogin {
  position: absolute;
  left: 26.3039%;
  right: 24.7166%;
  top: 81.2574%;
  bottom: 16.6074%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label6 {
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
}
.label7 {
  color: #000;
  font-size: 12px;
  font-weight: 800;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
}
._78 {
  color: #000;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 36.0544%;
  right: 45.3515%;
  top: 40.688%;
  bottom: 57.0581%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.viaEmail {
  color: #8e8e93;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 37.1882%;
  right: 46.4853%;
  top: 46.0261%;
  bottom: 51.72%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.GmailCom {
  color: #000;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 29.0249%;
  right: 21.9955%;
  top: 48.8731%;
  bottom: 48.8731%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.selectWhichContactDetailsShoul {
  color: #8e8e93;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 9.2971%;
  right: 10.2041%;
  top: 26.5718%;
  bottom: 68.9205%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.image2 {
  position: absolute;
  left: 34.4671%;
  right: 36.0544%;
  top: 91.3405%;
  bottom: 5.5753%;
  background-image:/* webpackIgnore: true */ url('assets/image2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
