.outlineCommunicationPhone.outlineCommunicationPhone {
  left: 17.5%;
  right: 77.1%;
  top: 23.6%;
  bottom: 73.5%;
}
.iPhoneXKeyboardsLightNumeric.iPhoneXKeyboardsLightNumeric {
  left: 7.9%;
  right: 10.4%;
  top: 41.8%;
  bottom: 29.1%;
}
.rectangle24.rectangle24.rectangle24 {
  left: 50%;
  bottom: 8.7423px;
}
.dictation.dictation {
  left: 316.8px;
  top: 203.7342px;
  width: 14.4px;
  height: 21.1318px;
}
.dictation {
  left: 316.8px;
  top: 203.7342px;
  width: 14.4px;
  height: 21.1318px;
}
.icon {
  width: 100%;
  height: 100%;
}
.dictation2.dictation2 {
  left: 316.8px;
  top: 203.7342px;
  width: 14.4px;
  height: 21.1318px;
}
.dictation2 {
  left: 316.8px;
  top: 203.7342px;
  width: 14.4px;
  height: 21.1318px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.delete.delete {
  left: 289.807px;
  top: 152.1649px;
  width: 21.713px;
  height: 15.2165px;
}
.delete {
  left: 289.807px;
  top: 152.1649px;
  width: 21.713px;
  height: 15.2165px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: #fbe411;
  overflow-y: auto;
  overflow-x: hidden;
}
.modalPanel {
  position: absolute;
  left: 7.93%;
  right: 10.4%;
  top: 8.5%;
  bottom: 18.3%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px -5px 20px 0px #0000001a;
}
.modalPanel2 {
  position: absolute;
  left: 15.9%;
  right: 14.7%;
  top: 10.1%;
  bottom: 34.4%;
  border-radius: 8px;
  background-color: #fbe411;
  box-shadow: 0px -5px 20px 0px #0000001a;
}
.rectangle {
  position: absolute;
  left: 36.7%;
  right: 42.4%;
  top: 13.1%;
  bottom: 86.4%;
  border-radius: 2.5px;
  background-color: #fff;
}
.logIn {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 39%;
  right: 44.7%;
  top: 14.6%;
  bottom: 82%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle2 {
  position: absolute;
  left: 36.7%;
  right: 42.4%;
  top: 19.8%;
  bottom: 79.6%;
  border-radius: 2.5px;
  background-color: #fff;
}
.rectangle3 {
  position: absolute;
  left: 17.5%;
  right: 20.2%;
  top: 22.5%;
  bottom: 72.2%;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.rectangle4 {
  position: absolute;
  left: 17.5%;
  right: 20.2%;
  top: 28.7%;
  bottom: 66.1%;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.rectangle5 {
  position: absolute;
  left: 36.1%;
  right: 38.6%;
  top: 35.2%;
  bottom: 59.6%;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.next {
  color: #000;
  font-size: 17px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 42.9%;
  right: 48.3%;
  top: 36.5%;
  bottom: 61%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.logInWithYourPhoneNumber {
  color: #c8c7cc;
  font-size: 15px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 23%;
  right: 25.6%;
  top: 23.8%;
  bottom: 73.6%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.enterYourPassword {
  color: #c8c7cc;
  font-size: 15px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 26.5%;
  right: 25.6%;
  top: 30.3%;
  bottom: 67.1%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.iWouldLikeToUseMyEmailToLogInC {
  position: absolute;
  left: 14.3%;
  right: 19.3%;
  top: 74.7%;
  bottom: 20.6%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper {
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
}
.label2 {
  color: #000;
  font-size: 12px;
  font-weight: 800;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
}
.line1 {
  transform-origin: bottom left;
  position: absolute;
  left: 8.6%;
  right: 66.4%;
  top: 89.3%;
  bottom: 10.6%;
  max-width: 100%;
  max-height: 100%;
  border-bottom: solid 1px #c8c7cc;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.line2 {
  transform-origin: bottom left;
  position: absolute;
  left: 64%;
  right: 11.11%;
  top: 89.4%;
  bottom: 10.4%;
  max-width: 100%;
  max-height: 100%;
  border-bottom: solid 1px #c8c7cc;
  margin-bottom: -1px;
  transform: matrix(1, -0.0091, 0.0091, 1, 0, 0);
}
.oR {
  color: #c8c7cc;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 47.4%;
  right: 47.2%;
  top: 88.1%;
  bottom: 9.6%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle6 {
  position: absolute;
  left: 9.3%;
  right: 10.4%;
  top: 92.9%;
  bottom: 1.9%;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.loginWithGoogle {
  color: #000000b0;
  font-size: 17px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 36.1%;
  right: 30.6%;
  top: 94.2%;
  bottom: 3.3%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
