.root {
  position: absolute;
  left: 29.9%;
  right: 26.5%;
  top: 26.1%;
  bottom: 55.04%;
  align-items: flex-start;
}
.icon {
  position: absolute;
  left: 23.96%;
  right: 23.96%;
  top: 32.3%;
  bottom: 32.3%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
