.outlineCommunicationEnvelopeOp.outlineCommunicationEnvelopeOp {
  left: 20.1814%;
  right: 74.3764%;
  top: 30.1305%;
  bottom: 67.0225%;
}
.systemKeyboardsIPhoneXLightAlp.systemKeyboardsIPhoneXLightAlp {
  left: 7.9365%;
  right: 10.4308%;
  top: 41.7556%;
  bottom: 29.0629%;
}
.homeIndicator.homeIndicator.homeIndicator {
  bottom: 8.7423px;
}
.dictation.dictation {
  left: 316.8px;
  top: 203.732px;
  width: 14.4px;
  height: 21.134px;
}
.dictation {
  left: 316.8px;
  top: 203.732px;
  width: 14.4px;
  height: 21.134px;
}
.icon {
  width: 100%;
  height: 100%;
}
.emoji.emoji {
  left: 24px;
  top: 202.8866px;
  width: 25.92px;
  height: 22.8247px;
}
.emoji {
  left: 24px;
  top: 202.8866px;
  width: 25.92px;
  height: 22.8247px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.rectangle.rectangle.rectangle {
  right: 0.48px;
  bottom: -0.4948px;
}
.rectangle2.rectangle2.rectangle2 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle3.rectangle3.rectangle3 {
  right: -0.48px;
  bottom: -0.4948px;
}
.rectangle4.rectangle4.rectangle4 {
  right: 0.32px;
  bottom: -0.4948px;
}
.deleteButton.deleteButton {
  left: 326.0736px;
  top: 108.7641px;
  width: 21.7536px;
  height: 14.3662px;
}
.deleteButton {
  left: 326.0736px;
  top: 108.7641px;
  width: 21.7536px;
  height: 14.3662px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.rectangle5.rectangle5.rectangle5 {
  right: 0.32px;
  bottom: -0.4948px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.rectangle6.rectangle6.rectangle6 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle7.rectangle7.rectangle7 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle8.rectangle8.rectangle8 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle9.rectangle9.rectangle9 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle10.rectangle10.rectangle10 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle11.rectangle11.rectangle11 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle12.rectangle12.rectangle12 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle13.rectangle13.rectangle13 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle14.rectangle14.rectangle14 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle15.rectangle15.rectangle15 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle16.rectangle16.rectangle16 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle17.rectangle17.rectangle17 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle18.rectangle18.rectangle18 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle19.rectangle19.rectangle19 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle20.rectangle20.rectangle20 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle21.rectangle21.rectangle21 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle22.rectangle22.rectangle22 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle23.rectangle23.rectangle23 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle24.rectangle24.rectangle24 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle25.rectangle25.rectangle25 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle26.rectangle26.rectangle26 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle27.rectangle27.rectangle27 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle28.rectangle28.rectangle28 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle29.rectangle29.rectangle29 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle30.rectangle30.rectangle30 {
  right: -0.28px;
  bottom: -0.4948px;
}
.rectangle31.rectangle31.rectangle31 {
  right: -0.28px;
  bottom: -0.4948px;
}
.root {
  position: relative;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: #fbe411;
  overflow-y: auto;
  overflow-x: hidden;
}
.modalPanel {
  position: absolute;
  left: 7.9365%;
  right: 10.4308%;
  top: 8.5409%;
  bottom: 18.2681%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px -5px 20px 0px #0000001a;
}
.modalPanel2 {
  position: absolute;
  left: 15.873%;
  right: 14.7392%;
  top: 10.083%;
  bottom: 34.4009%;
  border-radius: 8px;
  background-color: #fbe411;
  box-shadow: 0px -5px 20px 0px #0000001a;
}
.rectangle32 {
  position: absolute;
  left: 36.7347%;
  right: 42.4036%;
  top: 13.0486%;
  bottom: 86.3582%;
  border-radius: 2.5px;
  background-color: #fff;
}
.logInWithEmail {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 24.7166%;
  right: 30.1587%;
  top: 14.5907%;
  bottom: 81.9692%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle33 {
  position: absolute;
  left: 36.7347%;
  right: 42.4036%;
  top: 19.8102%;
  bottom: 79.5967%;
  border-radius: 2.5px;
  background-color: #fff;
}
.rectangle34 {
  position: absolute;
  left: 17.4603%;
  right: 20.1814%;
  top: 22.5386%;
  bottom: 72.242%;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.rectangle42 {
  position: absolute;
  left: 17.4603%;
  right: 20.1814%;
  top: 28.707%;
  bottom: 66.0735%;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.rectangle52 {
  position: absolute;
  left: 36.0544%;
  right: 38.5488%;
  top: 35.2313%;
  bottom: 59.5492%;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.next {
  color: #000;
  font-size: 17px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 42.8571%;
  right: 48.2993%;
  top: 36.5362%;
  bottom: 60.9727%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.logInWithYourEmail {
  color: #c8c7cc;
  font-size: 15px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 22.9025%;
  right: 25.6236%;
  top: 23.8434%;
  bottom: 73.5469%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.enterYourEmail {
  color: #c8c7cc;
  font-size: 15px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 26.5306%;
  right: 25.6236%;
  top: 30.2491%;
  bottom: 67.1412%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.iWouldLikeToUseMyEmailToLogInC {
  position: absolute;
  left: 14.2857%;
  right: 19.2744%;
  top: 74.7331%;
  bottom: 20.6406%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper {
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
}
.label2 {
  color: #000;
  font-size: 12px;
  font-weight: 800;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
}
.line1 {
  transform-origin: bottom left;
  position: absolute;
  left: 8.6168%;
  right: 66.4399%;
  top: 89.3238%;
  bottom: 10.5575%;
  max-width: 100%;
  max-height: 100%;
  border-bottom: solid 1px #c8c7cc;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.line2 {
  transform-origin: bottom left;
  position: absolute;
  left: 63.9456%;
  right: 11.1101%;
  top: 89.4425%;
  bottom: 10.4389%;
  max-width: 100%;
  max-height: 100%;
  border-bottom: solid 1px #c8c7cc;
  margin-bottom: -1px;
  transform: matrix(1, -0.0091, 0.0091, 1, 0, 0);
}
.oR {
  color: #c8c7cc;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2259px;
  position: absolute;
  left: 47.3923%;
  right: 47.1655%;
  top: 88.1376%;
  bottom: 9.6085%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle62 {
  position: absolute;
  left: 9.2971%;
  right: 10.4308%;
  top: 92.8826%;
  bottom: 1.898%;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.loginWithGoogle {
  color: #000000b0;
  font-size: 17px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 36.0544%;
  right: 30.6122%;
  top: 94.1874%;
  bottom: 3.3215%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
